@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../assets/fonts/greycliff/stylesheet.css");
@import url("../assets/fonts/stapel/stylesheet.css");
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background: #10002B;
}
.main{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-column-gap:0px;
    grid-row-gap: 0px;
}
.scroll {
	animation: down 3.0s infinite;
	-webkit-animation: down 3.0s infinite;
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}
